@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  font-weight: normal;
  min-height: 100vh;}
body{
  /* background-color: #28231D; */
  /* background-color: #100C08; */
  /* background-color: #040200; */
  /* background-color: #28231D; */
  @apply bg-gray-900;
  background-image: url(./image/background.jpg);
  background-blend-mode: overlay;
  
}
.linear_gradient{
  background: linear-gradient(180.2deg, #173045 69.99%, rgba(12, 176, 242, .8) 91.98%);}
.card{
    transition: opacity .15s;
    box-shadow: 0 14px 20px rgba(0, 0, 0, .25);
}

.logo-name, .logo {
  animation: Color 2s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  font-weight: 700;
}
@keyframes Color {
  0% {
    color: #A0D468;
  }

  20% {
    color: #4FC1E9;
  }

  40% {
    color: #FFCE54;
  }

  60% {
    color: #FC6E51;
  }

  80% {
    color: #ED5565;
  }

  100% {
    color: #AC92EC;
  }
}

@-moz-keyframes Color {
  0% {
    color: #A0D468;
  }

  20% {
    color: #4FC1E9;
  }

  40% {
    color: #FFCE54;
  }

  60% {
    color: #FC6E51;
  }

  80% {
    color: #ED5565;
  }

  100% {
    color: #AC92EC;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #A0D468;
  }

  20% {
    color: #4FC1E9;
  }

  40% {
    color: #FFCE54;
  }

  60% {
    color: #FC6E51;
  }

  80% {
    color: #ED5565;
  }

  100% {
    color: #AC92EC;
  }
}
 /* the scrollbar for chrome and other webkit browsers */
 ::-webkit-scrollbar {
   width: 0.3vw;
   cursor: pointer;
   /* display: none;  */
 }

 ::-webkit-scrollbar-track {
   background-color: transparent;
 }

 ::-webkit-scrollbar-thumb {
   @apply bg-brand;
 }